<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="/public/fabric.js"></script>
  <style>
    body{margin: 0;}
    #container {
      position: relative;
    }
    .canvas-container {
      position: absolute !important;
    }
  </style>
</head>
<body>

  <div id="container">
    {{#each canvases}}
      <canvas id="{{id}}" width="{{../width}}" height="{{../height}}"></canvas>
    {{/each}}
  </div>

  <script>

  {{#each canvases}}
    var {{id}} = new fabric.Canvas('{{id}}', {width: {{../width}}, height: {{../height}} });
    {{id}}.loadFromJSON({{{data}}});
  {{/each}}
    
  </script>

</body>
</html>